@{  
    ViewData["Title"] = "Home Page";  
}
<body>  
    <div class="text-center">  
        <h1>Upload Your CV</h1>  
        <div class="uploader">  
            <form action="/home/upload" method="post" enctype="multipart/form-data">  
                <label for="fileInput">Choose a file</label>  
                <input type="file" id="fileInput" name="file" accept=".pdf,.doc,.docx" onchange= "displayFileName()">  
                <br />
                <span id="fileName" style="margin-left:10px;"></span>  
                <br>  
                <button type="submit">Upload</button>  
            </form>  
        </div>  
    </div>  
    <script>  
        function displayFileName() {  
            var input = document.getElementById('fileInput');  
            var fileNameSpan = document.getElementById('fileName');  
            if (input.files && input.files.length > 0) {  
                fileNameSpan.textContent = input.files[0].name;  
            } else {  
                fileNameSpan.textContent = '';  
            }  
        }  
    </script>  
</body>
